*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    
}
.cabecalho{
    background-color: #d9d9d9;
    /*padding-top: 41px;
    padding-botton: 41px;
    padding-left: 54px;
    padding-right:54; */
    /* padding: 41px; 54px; 41px; 54px*/
    padding: 41px 54px;
    displaY:flex;
    align-items: center;
    justify-content: space-between;

}
.menu a{
    text-decoration: none;
    color: #000
}

.banner{
    background-image: url("img/banner.png");
    background-size: cover;
    height: 454px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 44px;
    /*padding: 0 44px; */
}

.produtos{
    margin-top: 67px;
    
}
.titulo{
    text-align: center;
    font-size: 49;
    font-weight:normal;
    margin-bottom: 74px;

}

.linha{
    display: flex;
    justify-content:
    space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.coluna{
    width: 369px; 
    border: 1px solid #000;
}

.coluna p{
    margin: 16px 30px 35px 30px;

}

.botao{
    background-color: #8597F6;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px; 
    padding: 15px 60px ;
    display: block;
    width: 214px;
    box-sizing: border-box;
    margin: 0px auto  25px auto; 
    border-radius: 0px;
    text-decoration: none;

}

.contato{
    margin-top: 189px;

}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #d9d9d9;
}
